.export {
    display: inline-block;
    margin: 5px;
}

.export img {
    height: 200px;
}

.export h3 {
    margin: 0;
}

#svg-text {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
