svg#main {
    background-color: #000;
    transition: background-color 0.2s;
}

svg#main:hover {
    background-color: #444;
    transition: background-color 0.2s;
}

#settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

fieldset {
    display: inline-block;
}

fieldset .left-label {
    width: 3em;
    display: inline-block;
    text-align: right;
    margin-right: 0.1em;
}

input.int {
    width: 6em;
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
